.product {
    cursor: pointer;
    transition: all 130ms ease;
}

.product:hover {
    transform: scale(1.01);
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.3);
}

.product .card-img {
    height: 200px;
}

.product .card-img-overlay {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
}